<div class="shopping-cart-container">
  <button mat-raised-button (click)="submitOrder()">Submit</button>

  <div class="selected-list">
    <app-selected-list [selectedProducts]="selectedProducts" [removeProduct]="removeProduct.bind(this)"></app-selected-list>
    Total: {{total}} <br>
    Payed: {{totalPayed}} <br>
    Returned: {{totalReturn}} <br>
    Discount: {{totalDiscount}} <br>

  </div>
  <app-cal-table class="cal-table" [selectCustomer]="selectCustomer.bind(this)" [selectedCustomer]="selectedCustomer"
    [payedItems]="payedItems" [discountItems]="discountItems" [returnItems]="returnItems" 
    [(totalPayed)]="totalPayed" [totalDiscount]="totalDiscount" [totalReturn]="totalReturn"
    [calTotals]="calTotals.bind(this)"></app-cal-table>
</div>
<div class="product-list">
  <app-product-list [selectedProducts]="selectedProducts" [recalTotal]="recalTotal.bind(this)"></app-product-list>
</div>