<div style="width: 40%; height: 150px; display: inline-block;">
  <div style="width: 100%;">
    <mat-icon>home</mat-icon>
  </div>
  <div style="width: 100%;">
    <button mat-raised-button>Payment</button>
  </div>
</div>
<div style="width: 60%; height: 150px; display: inline-block;">
  <table>
    <tr>
      <td><button mat-raised-button>1</button></td>
      <td><button mat-raised-button>2</button></td>
      <td><button mat-raised-button>3</button></td>
      <td><button mat-raised-button>Qty</button></td>
    </tr>
    <tr>
      <td><button mat-raised-button>4</button></td>
      <td><button mat-raised-button>5</button></td>
      <td><button mat-raised-button>6</button></td>
      <td><button mat-raised-button>Disc</button></td>
    </tr>
    <tr>
      <td><button mat-raised-button>7</button></td>
      <td><button mat-raised-button>8</button></td>
      <td><button mat-raised-button>9</button></td>
      <td><button mat-raised-button>Price</button></td>
    </tr>
    <tr>
      <td><button mat-raised-button>+/-</button></td>
      <td><button mat-raised-button>0</button></td>
      <td><button mat-raised-button>.</button></td>
      <td><button mat-raised-button>del</button></td>
    </tr>
  </table>
</div>